$color-primary: #D87D4A;
$color-primary-black: #101010;
$color-primary-bg: #191919;
$color-accent: #F1F1F1;
$color-background: #FAFAFA;
$color-secondary: #FBAF85;
$color-white: #FFFFFF;
$color-btn: #4C4C4C;
$color-danger: #DA3747;
$color-secondary-black: #000000;